/* General Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #2c3e50;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: padding 0.3s ease; /* Navbar padding animasiýasy */
}

.navbar .logo h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Navbar links */
.nav-links {
  display: flex;
  list-style: none;
  transition: transform 0.3s ease; /* Linkleriň animasiýasy */
}

.nav-links li {
  margin-left: 30px;
  place-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #e74c3c; /* Hover color */
}

/* Mobile Menu button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 0;
    transform: translateY(-20px); /* Başlangyçda gizlenmek üçin */
  }

  .nav-links.active {
    display: flex;
    transform: translateY(0); /* Açylanda smooth geçiş */
  }

  .nav-links li {
    margin: 10px 0;
    width: 100%;
    opacity: 0; /* Başlangyçda gizlenmek üçin */
    animation: fadeIn 0.3s forwards; /* Fade in animasiýasy */
  }

  .nav-links li:nth-child(1) {
    animation-delay: 0.1s;
  }
  .nav-links li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav-links li:nth-child(3) {
    animation-delay: 0.3s;
  }
  .nav-links li:nth-child(4) {
    animation-delay: 0.4s;
  }

  .nav-links li a {
    padding: 10px;
    display: block;
    width: 100%;
    border-top: 1px solid #ecf0f1;
  }

  .nav-links li a:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
  }

  .menu-toggle {
    max-width: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}

/* Fade In animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
